

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  

  .form-card {
    box-shadow: 0 0 2px grey;
    border-radius: 0 !important;
  }
  
  .form-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .normal-text {
    font-size: 1rem;
  }
  
  .forget-form-form {
    width: 400px;
    background-color: white;
  }
  
  .submit-button {
    background-color: #f716ff !important;
    border-color: #005555 !important;
    height: 40px !important;
    width: 100% !important;
    color: white !important;
    font-size: 16px !important;
  }
  
  .anchor {
    color: black;
    text-decoration: none;
    font-size: 16 px;
  }
  
  .anchor:hover {
    color: #005555;
    text-decoration: underline;
  }
  /* autherntication pages */
  
  .fore {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005555;
  }
  
  .forget-main .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: orangered;
    color: white !important;
    max-width: max-content !important;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;
  }
  
  /* antd override */
  
  input {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.616) !important;
    height: 40px !important;
  }
  
  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid grey !important;
  }
  
  label {
    font-size: 16px !important;
    color: black !important;
  }
  
  .ant-form-item {
    margin: 10px 0 !important;
  }
  